{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="container login-user-front">
        <section id="login-user" class="p-3">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="row">
                <div class="col-md-7 p-4">
                    <div><b style="float: right">Login</b>
                    </div>
                    <form action="{{ path('login') }}" name='login' method="post">
                        <label for="username">Usuario:</label>
                        <input type="text" id="username" name="_username" class="form-control"
                               value="{{ last_username }}"/>
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" class="form-control" name="_password"/>

                        <div class="row" style="margin-top: 10px">
                            <div class="col-sm-6">
                                <button class="btn btn-dark " type="submit">entra</button>
                            </div>
                            <div class="col-sm-6 text-sm-right text-xs-center" style="text-align: center">
                                <b><a href="#" onclick="recoverPass()">He olvidado mi
                                        contraseña...</a></b>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 ">
                    <div>
                        <img class="img-fluid img-thumbnail" src="{{ asset('images/empresas.jpg') }}">
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
