#fieldCompany, #fieldCompany-list {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}


/*Todo: menu admin*/

#menu-admin .header-admin {
    padding: 20px;
    background: wheat;
}

#menu-admin #list-menu {
    background-color: antiquewhite;

}

#menu-admin #list-menu ul {
    padding: 10px;
    text-align: center;
    list-style: none;
}

#menu-admin #list-menu li a {
    color: black;
}

#footer-admin {
    height: 20px;
    background: wheat;
    padding: 0;
}

.td-company tr {
    cursor: pointer;
}

.selected-company-user {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
}

.selected-company-user li {
    list-style: none;
}


.btn-close-info {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgray;
}

.btn-close-info:hover {
    background-color: white;
}

.tr-f:hover {
    background-color: papayawhip;
    box-shadow: 2px 2px 5px darkgray;
}


.head-page a:hover {
    text-decoration: none !important;
    color: darkgray !important;

}

.head-page button:hover {
    color: darkgray !important;

}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: #7abaff !important;

}

.block-2 {
    padding-top: 100px;
}

.login-user-front {
    padding-top: 100px;
    width: 90%;
}

#list-company, #company-view, #edit-company-front, #select-company, #list-company-front {
    width: 90%;
    margin: auto;
}

#navbarSupportedContent .btn {
    border-radius: 30px;
}

#container-images {
    width: 100%;
    overflow: hidden;
    background: white;

}

.photobanner img {
    width: 100px;
    margin-left: 80px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#fieldCompany, #fieldCompany-list, .selected-company-user {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.container-images {
    width: 200px;
    /*height: 250px;*/
    perspective: 1000px;
}

.side-A {
    margin: 10px;

}

#btn-save-user {
    float: right;
    margin-top: 30%;
}

footer {
    /*position: fixed;*/
    bottom: 0;
    z-index: 999999;
    margin-bottom: 40px;
}


#login-user {
    background: lightyellow;
}


